{
	"jsx": {
		"target": "esnext",
		"parser": {
			"syntax": "javascript",
			"jsx": true,
			"decorators": false,
			"dynamicImport": false
		},
		"transform": {
			"react": {
				"pragma": "React.createElement",
				"pragmaFrag": "React.Fragment",
				"throwIfNamespace": true,
				"useBuiltins": false,
				"runtime": "automatic"
			}
		}
	},
	"module": {
		"type": "commonjs",
		"strict": true,
		"strictMode": false,
		"lazy": true,
		"noInterop": false
	}
}
