---
import BaseLayout, { type BaseLayoutProps } from "@/layouts/BaseLayout.astro";

export async function getStaticPaths() {
    return [
        {
            params: { slug: "hello" },
            props: {
                name: "Dragon Curve",
                maxOrder: 15,
            },
        },
    ];
}

const { name, maxOrder } = Astro.props;

const pageMetaData = {
    title: `${name} | Linear Fractals`,
    description: "",
    keywords: [],
} satisfies BaseLayoutProps;
---

<BaseLayout {...pageMetaData}>
    <h1 class="text-3xl font-bold underline">{name}</h1>
    <div class="flex flex-col gap-6 lg:flex-row">
        <div class="flex flex-col gap-3 lg:w-1/3">
            <div class="flex w-1/2 flex-col gap-2">
                <div class="flex justify-between">
                    <div class="text-base font-medium lg:text-lg">Iteration Order</div>
                    <div class=""><button>b</button></div>
                </div>
                <div class="flex justify-between">
                    <div class="text-base font-medium lg:text-lg">Animate</div>
                    <div class=""><button>b</button></div>
                </div>
                <div class="flex justify-between">
                    <div class="text-base font-medium lg:text-lg">Color</div>
                    <div class=""><button>b</button></div>
                </div>
            </div>
            <div class="flex gap-5">
                <button class="rounded-lg bg-black px-4 py-2 text-white dark:bg-white dark:text-white">Draw</button>
                <button class="rounded-lg bg-black px-4 py-2 text-white dark:bg-white dark:text-white">Reset</button>
                <button class="rounded-lg bg-black px-4 py-2 text-white dark:bg-white dark:text-white">Save</button>
            </div>
        </div>
        <div class="flex justify-center lg:w-2/3">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="-1000 -1000 2000 2000"
                width="100%"
                height="100%"
                xml-space="preserve"
                xmlns-xlink="http://wwww3.org/1999/xlink"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="aspect-square w-full rounded-md bg-neutral-200"
                id="canvas"
            >
            </svg>
        </div>
    </div>
</BaseLayout>
