@font-face {
    font-family: "Geist";
    src: url("/geo-vis/fonts/Geist-Thin.otf") format("opentype");
    font-style: normal;
    font-weight: 100;
}
@font-face {
    font-family: "Geist";
    src: url("/geo-vis/fonts/Geist-UltraLight.otf") format("opentype");
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "Geist";
    src: url("/geo-vis/fonts/Geist-Light.otf") format("opentype");
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: "Geist";
    src: url("/geo-vis/fonts/Geist-Regular.otf") format("opentype");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "Geist";
    src: url("/geo-vis/fonts/Geist-Medium.otf") format("opentype");
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: "Geist";
    src: url("/geo-vis/fonts/Geist-SemiBold.otf") format("opentype");
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: "Geist";
    src: url("/geo-vis/fonts/Geist-Bold.otf") format("opentype");
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: "Geist";
    src: url("/geo-vis/fonts/Geist-Black.otf") format("opentype");
    font-style: normal;
    font-weight: 800;
}
@font-face {
    font-family: "Geist";
    src: url("/geo-vis/fonts/Geist-UltarBlack.otf") format("opentype");
    font-style: normal;
    font-weight: 900;
}
