---
import cn from "@/lib/cn";

type Props = {
    ":disable"?: string;
    "x-on:click"?: string;
    class?: string;
};

const { class: cc = "", ...props } = Astro.props;
---

<button
    {...props}
    class={cn(
        "inline-flex h-10 items-center justify-center rounded-md bg-neutral-900 px-4 py-2 text-sm font-medium whitespace-nowrap text-neutral-100 ring-offset-white hover:bg-neutral-900/90 focus-visible:ring-2 focus-visible:ring-neutral-950 focus-visible:ring-offset-2 focus-visible:outline-none disabled:pointer-events-none disabled:opacity-50 dark:bg-neutral-100 dark:text-neutral-900 dark:ring-offset-neutral-950 dark:hover:bg-neutral-100/90 dark:focus-visible:ring-neutral-300",
        cc
    )}
    ><slot />
</button>
