---
import cdnify from "@/lib/cdnify";
import cn from "@/lib/cn";

type Props = {
    link: string;
    class?: string;
    name: string;
    img: string;
};

const { link, name, img, class: cc = "" } = Astro.props;
---

<a
    href={link}
    class={cn(
        "relative aspect-square border-2 border-neutral-700 dark:border-neutral-300 bg-neutral-100/70 dark:bg-neutral-900/70 rounded-xl ",
        cc
    )}
>
    <div class="overflow-hidden rounded-t-[10px] bg-neutral-400/60 p-2 text-ellipsis whitespace-nowrap dark:bg-neutral-600/60">
        {name}
    </div>
    <img class="mx-auto w-[calc(100%-40px)] dark:hidden" src={cdnify([true, img.replace("%VAR%", "-light")])} />
    <img class="mx-auto hidden w-[calc(100%-40px)] dark:block" src={cdnify([true, img.replace("%VAR%", "-dark")])} />
</a>
